# NumPy in Python:
- Arrays


# difference between list and arrays
- List can accept more than one data type, while Arrays primarily accepts only one data type.
- List is an inbuilt structure in python while array make use of third party libraries like numpy, so we can create an array with out importing numpy

In [1]:
import numpy as np

# Creation of NumPy Array
- Syntax
- np.array(object,ndmin,dtype)
- object: list/tuple
- ndmin: minimum number of dimension
- dyte: int, float, complex

In [2]:
list1 = [7,8,9]
arr = np.array(list1)
print(arr)

[7 8 9]

In [3]:
type(arr)

numpy.ndarray

In [5]:
# Creation of one dimensional array
x = [23,25,27,30]
arr = np.array(x)
print(arr)

[23 25 27 30]

In [6]:
# Creation of  teo dimensional array from one dimensional list
import numpy as np
list2 = [5,6,10,13,14]
arr = np.array(list2,ndmin = 2,dtype = int)
print(arr)

[[ 5  6 10 13 14]]

In [7]:
# To check the number of dimension of array
print(arr.ndim)

2

In [8]:
# From 1 dimensional list, create for 3 dimensional array
userAge = [20,24,25,26,27]
arr = np.array(userAge,ndmin =3, dtype = int)
print(arr)

[[[20 24 25 26 27]]]

In [9]:
print(arr.ndim)

3

In [10]:
# From 1 dimensional list, create for 3 dimensional array using COMPLEX
userAge = [20,24,25,26,27]
arr = np.array(userAge,ndmin =3, dtype = complex)
print(arr)

[[[20.+0.j 24.+0.j 25.+0.j 26.+0.j 27.+0.j]]]

In [11]:
print(arr.ndim)

3

In [17]:
# converting Three Dimensional list to 3 dimensional array
userId = [[[201,202,203,204,204]]]
print(userId)

[[[201, 202, 203, 204, 204]]]

In [16]:
# Create a 3 dimensional array from userId
arr1 = np.array(userId)
print(arr1)

[[[201 202 203 204 204]]]

In [15]:
print(arr1.ndim)

3

In [20]:
# Create a one dimensional array from a three dimensional list
userAge = [[[30,32,33,34,35]]]
arr2 = np.array(userAge).flatten()
print(arr2)

[30 32 33 34 35]

In [21]:
print(arr2.ndim)

1

In [29]:
# Mathematical functions in NumPy array
list1 =[3,5,6,7]

In [31]:
# Step 1 of multiplying by 10
for i in list1:
    print(i*10)

30
50
60
70

In [33]:
# Step 2 of multiplying by 10
arr = np.array(list1)
arr*10

array([30, 50, 60, 70])

In [34]:
# create an array and multiply it by 5 from the list below
studentsId = [20,22,23,24,25]
arr = np.array(studentsId)
arr*5

array([100, 110, 115, 120, 125])

# Routines in NumPy Array : some operations we perform in numpy to return a specific value
- np.zeros
- syntax: np.array(shape,dtype)
- np.ones

In [35]:
arr = np.zeros(2)
print(arr)

[0. 0.]

In [36]:
# Creation of array of 2-rows and 3-columns
arr2 = np.zeros([2,3])
arr2

array([[0., 0., 0.],
       [0., 0., 0.]])

In [37]:
print(arr2.ndim)

2

In [40]:
# Array of 3 dimensions with 2-rows and 5-columns. it also have 3-appearance
arr = np.zeros([3,2,5])
arr

array([[[0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.]],

       [[0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.]],

       [[0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.]]])

In [39]:
print(arr.ndim)

3

In [41]:
# Create a routine array of zeros having 4-appearance, 3- rows and 3-columns
arr2 =np.zeros([4,3,3])
arr2

array([[[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]]])

In [42]:
arr1 = np.ones(5)
arr1

array([1., 1., 1., 1., 1.])

In [45]:
arr2 = np.ones([2,3,4])
arr2

array([[[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]],

       [[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]]])

In [50]:
# Create a routine arrays of ones with 3 dimensional arrays, and it has the same number of rows and columns
arr4 = np.ones([3,4,4])
arr4

array([[[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]],

       [[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]],

       [[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]]])

# NumPy from Ranges
- syntax = numpy.arange(start,stop.step,dtype)

In [53]:
for number in range(2,9):
    print(number)

2
3
4
5
6
7
8

In [56]:
x = np.arange(5)
print(x)

[0 1 2 3 4]

In [58]:
# Create a numpy from range starting from zero to 5
for data1 in range(0,6):
    print(data1)

0
1
2
3
4
5

In [59]:
y = np.arange(10,20,4,dtype =int)
print(y)

[10 14 18]

In [61]:
x = np.arange(0,200,6,dtype = int)
print(x)

[  0   6  12  18  24  30  36  42  48  54  60  66  72  78  84  90  96 102
 108 114 120 126 132 138 144 150 156 162 168 174 180 186 192 198]

In [63]:
# Create a numpy from range that starts from 12 to 50

for list10 in range (12,51):
    print(list10)

12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [64]:
b = np.arange(12,51)
print(b)

[12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35
 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50]